.flip-card {
  background-color: transparent;
  width: 275px;
  height: 375px;
  perspective: 1000px;
  font-family: Verdana;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 20px #6dff1f8f inset;
  border-radius: 20px;
}

.turn .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 10px #6dff1f8f inset;
  border-radius: 20px;
  transform: rotateY(180deg);
}
.options {
  background-color: black;
  border: 1px solid green;
  color: white;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #6dff1f57 inset;
  margin-top: 20px;
  font-family: anton;
  cursor: pointer;
}
.playPauseButton {
  border-radius: 20px;
  color: black;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.315);
  box-shadow: 0px 0px 10px green, 0px 0px 10px #6dff1f8f inset;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
