.outerStoreBox {
  border: 1px solid #6dff1fa2;
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px #01646d;
  border-radius: 10px;
}
.outerStore {
  width: 800px;
  height: 1000px;
}
.storeItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storeHeading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modalContent {
  background-color: #121212;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 5px;
  border-color: #01646d;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.innerStore {
  display: flex;
}
.playPauseButton {
  margin-top: 10px;
}
.trackSlides {
  border: 1px solid #01646d;
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
