.outerStoreBox {
  border: 1px solid #6dff1fa2;
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px #01646d;
  border-radius: 10px;
}
.outerStore {
  width: 800px;
  height: 500px;
}
.storeItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storeHeading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.innerStore {
  display: flex;
}

.trackSlides {
  border: 1px solid #01646d;
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-button-next::after {
  color: #01646d;
  padding-left: 25px;
}
.swiper-button-prev::after {
  color: #01646d;
  padding-right: 25px;
}
