.contactBox {
  padding-top: 30px;
}
.contactLabel {
  display: flex;
  justify-content: center;
}
.contactInput {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 23px;

  width: 450px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #121212;
  box-shadow: 0px 0px 10px #6dff1f;
  color: var(--fontcolor);
  font-family: veredana;
  border: 1px solid #01646d;
}
.onSubmit {
  background: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: var(--fontcolor);
  cursor: pointer;
  div {
    opacity: 0;
    transition: opacity 0.8s linear;
    &.Success {
      opacity: 1;
    }
  }
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
label {
  color: var(--fontcolor);
  font-size: 17px;
}
.submitButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: anton;
  color: #f2fdfa;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkBoxes {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
