.socialButton {
  text-decoration: none;
  display: inline-flex;
  padding: 15px;
  background: rgba(0, 8, 2, 0.671);
  border: 1px solid #6dff1fa8;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0px 0px 20px #01646d;
  color: var(--fontcolor);
  margin: 10px;
  align-items: center;
  font-family: anton;
}
.socialButtonText {
  padding-left: 10px;
}
.row {
  padding: 20px;
  text-align: center;
  margin: 2px;
  margin-top: 0px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  flex-wrap: wrap;
}
.flex-d-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  :root {
    --bordernone: none;
  }
  .flex-m-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.col {
  padding: 15px;
  flex: 1;
  margin: 3px;
}

.column1 {
  height: 200px;
  border-right: var(--thickGrayBorder);
  border-top: var(--thickGrayBorder);
  border-bottom: var(--thickGrayBorder);
  @media only screen and (max-width: 768px) {
    border-left: none;
  }
}
.column2 {
  @media only screen and (max-width: 768px) {
    border-top: var(--thickGrayBorder);
    border-bottom: var(--thickGrayBorder);
  }
}
.column3 {
  height: 200px;
  border-left: var(--thickGrayBorder);
  border-top: var(--thickGrayBorder);
  border-bottom: var(--thickGrayBorder);
  @media only screen and (max-width: 768px) {
    border-right: none;
  }
}
.headingHome {
  font-family: contactUs;
}

h2 {
  font-family: var(--fontstyle);
  font-size: 17px;
  color: var(--fontcolor);
}
.bodyHome {
  font-family: Verdana;
}
