.outerAbout{
align-items: center;
    display: flex;
    width: 800px;
    flex-direction: column;
}
.aboutUsText{
    font-size: 20px;
    font-family: anton;
}
.aboutUsHead {
    font-size: 30px;
    text-align: right;
    font-family: anton;
    font-weight: lighter ;
}