html,
body {
  background: black;
  background-repeat: repeat;
  margin: 0;
  font-family: var(--fontstyle);
  font-size: 17px;
  color: var(--fontcolor);
}
@font-face {
  font-family: titleFont;
  src: url(../public/pdark.ttf);
}
:root {
  --thickGrayBorder: 2px solid dimgray;
  --fontstyle: "DejaVu serif", sans-serif;
  --fontcolor: rgb(224, 221, 221);
}
